.form {
  width: fit-content;
  margin: auto;
}

.fieldset {
  display: flex;
  gap: 12px;
  padding: 0;
  border: none;
  margin-top: 12px;
}

.fieldset:first-of-type {
  margin: 0;
}

.input {
  width: 204px;
}

.smallButton {
  width: 175px;
}

.largeButton {
  width: 362px;
}

.result {
  width: fit-content;
  display: flex;
  margin: auto;
  margin-top: 120px;
  gap: 21.59px;
  list-style-type: none;
}

.element {
  display: flex;
  align-items: center;
  gap: 25px;
}